<!DOCTYPE html>
<html>
<head>
    <title>Chamada de Vídeo</title>
    <script src="https://download.agora.io/sdk/release/AgoraRTC_N.js"></script>
</head>
<body>
    <h2>Chamada de Vídeo</h2>
    <div id="local-player"></div>
    <div id="remote-playerlist"></div>

    <script>
        const channel = "canal1";  // em breve isso n vai ser mais fixo
        fetch(`/chamadas/token/?channel=${channel}`)
            .then(response => response.json())
            .then(data => {
                const client = AgoraRTC.createClient({ mode: "rtc", codec: "vp8" });
                client.init(data.appID, () => {
                    client.join(data.token, channel, data.uid, (uid) => {
                        const localStream = AgoraRTC.createStream({ audio: true, video: true });
                        localStream.init(() => {
                            localStream.play('local-player');
                            client.publish(localStream);
                        });
                    });
                });
            });
    </script>
</body>
</html>