<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meu Projeto{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>

    <header>
        <h1>GuardianPro</h1>
        <nav>
            <a href="/">Início</a>
            <!-- em breve modificar isso aqui pra ficar bonitinho -->
            <a href="{% url 'laudos_ia:listar_laudos_pendentes' %}">Laudos Pendentes</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo das páginas filhas será inserido aqui -->
        {% endblock %}
    </main>

    <hr>
    <footer>
        <p>&copy; {% now "Y" %} GuardianPro.</p>
    </footer>

    {% block extra_scripts %}{% endblock %}
</body>
</html>